.nk-info-box {
    display: block;
    position: relative;
    background-color: $color_dark_2;
    color: $color_headings;
    border: 1px solid $color_dark_3;
    border-radius: 4px;
    padding: 30px;
    padding-left: 118px;
    padding-right: 40px;
    margin-bottom: 1.7rem;
    overflow: hidden;

    h1, .h1,
    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        color: inherit;
        margin-top: -6px;
        margin-bottom: 0.7rem;
    }

    &.nk-info-box-noicon {
        padding-left: 40px;
    }

    .nk-info-box-icon {
        display: block;
        position: absolute;
        text-align: center;
        font-size: 1.7rem;
        margin-left: -85px;
        margin-top: -3px;
        width: 52px;
        height: 52px;
        line-height: 52px - 8px;
        border-radius: 26px;
        border: 4px solid;
    }
    .nk-info-box-close-btn {
        display: block;
        float: right;
        cursor: pointer;
        font-size: 1.3rem;
        margin-right: -20px;
        margin-top: -7px;
    }
}
