.nk-social-links,
.nk-social-links-2,
.nk-social-links-3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: -2px;
    margin-right: -2px;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    > li {
        display: inline-block;

        > * {
            display: block;
            cursor: pointer;
            text-align: center;
            margin: 3px 1px;
            font-size: 0.9em;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 10px;
            background-color: rgba(#fff, 0.75);
            transition: .15s background-color, .15s color;

            &,
            &:hover,
            &:focus,
            &:active {
                color: $color_dark_1;
            }

            &:hover,
            &.hover {
                color: #fff;
                background-color: $color_main_1;
            }
        }
    }

    &,
    &.nk-social-links-cols-5,
    &.nk-social-links-cols-4,
    &.nk-social-links-cols-3,
    &.nk-social-links-cols-2 {
        @each $name, $color in $colors_social {
            > li > *.nk-social-#{$name} {
                &:hover,
                &.hover {
                    color: #fff;
                    background-color: $color;
                }
            }
        }
    }
}
.nk-social-links-2 {
    margin-right: -4px;
    margin-right: -4px;

    > li > * {
        font-size: 1.1em;
        margin: 3px 2.7px;
        width: 26px;
        height: 26px;
        line-height: 26px;
        border-radius: 13px;
        background-color: #fff;
    }
}

$social_links_3_bg: #4e585f;
.nk-social-links-3 {
    > li {
        display: block;
        float: left;
    }
    > li > * {
        position: relative;
        font-size: 1.2em;
        border-radius: 0;
        margin: 0;
        width: 100%;
        padding-top: 100%;
        background-color: $social_links_3_bg;
        color: $color_headings;

        > span {
            position: absolute;
            width: 14px;
            height: 14px;
            top: 50%;
            left: 50%;
            margin-left: -7px;
            margin-top: -7px;
        }
    }

    // sizes
    &.nk-social-links-cols-5 > li {
        width: 20%;
        &:nth-child(6n) > a {
            background-color: lighten($social_links_3_bg, 3%);
        }
        &:nth-child(6n+2) > a {
            background-color: lighten($social_links_3_bg, 6%);
        }
        &:nth-child(6n+4) > a {
            background-color: lighten($social_links_3_bg, 10%);
        }
    }
    &.nk-social-links-cols-4 > li {
        width: 25%;
        &:nth-child(5n) > a {
            background-color: lighten($social_links_3_bg, 3%);
        }
        &:nth-child(5n+2) > a {
            background-color: lighten($social_links_3_bg, 6%);
        }
        &:nth-child(5n+4) > a {
            background-color: lighten($social_links_3_bg, 10%);
        }
    }
    &.nk-social-links-cols-3 > li {
        width: 33.333%;
        &:nth-child(4n) > a {
            background-color: lighten($social_links_3_bg, 3%);
        }
        &:nth-child(4n+2) > a {
            background-color: lighten($social_links_3_bg, 6%);
        }
        &:nth-child(4n+4) > a {
            background-color: lighten($social_links_3_bg, 10%);
        }
    }
    &.nk-social-links-cols-2 > li {
        width: 50%;
        &:nth-child(3n) > a {
            background-color: lighten($social_links_3_bg, 3%);
        }
        &:nth-child(3n+2) > a {
            background-color: lighten($social_links_3_bg, 6%);
        }
        &:nth-child(3n+4) > a {
            background-color: lighten($social_links_3_bg, 10%);
        }
    }

    // fix for widget usage
    .nk-widget-highlighted .nk-widget-content & {
        margin-left: -24px;
        margin-right: -24px;
        margin-top: -21px;
        margin-bottom: -21px;
    }
}

/* Contacts top right icons */
.nk-contacts-icons {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: -20px;

    @media #{$media_smaller_xs} {
        margin-right: 0;
    }

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    > li {
        display: inline-block;
        text-align: center;
        margin: 3px 20px;
        line-height: 1.3;

        > a {
            color: inherit;
            text-decoration: none;
            transition: .15s color;
        }
        > a:hover,
        &.hover,
        > a:focus,
        > a:active {
            color: $color_main_1;
        }
    }
}
